*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/*-------------Header-------------*/
.header{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #30353B 0%, #1A1B1F 100%);
}
.box-default{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    height: auto;
}
.header__container{
    color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: inherit;
    padding: 0;
}
.logo__name {
    font-size: 24px;
}
/*Point*/
.logo__subname, .services__title-active,.proyects__title-active, .card__title-active{
    color:#F4BD76;
}
/*-----------Menú-----------*/
.menu__link{
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}
.menu__list{
    display: flex;
    list-style: none;
}
.nav__header {
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
/*-----------Home--------------*/
.home{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
    width: 100vw;
}
.home__content{
    width: 48%;
}
.home__title {
    font-size: 56px;
    font-weight: 300;
    color: #fff;
}
.home__title-active {
    color: #F4BD76;
    font-weight: 700;
}
.home__text {
    font-size: 24px;
    color:#ffffff80;
    text-shadow: 0 8px 8px #00000033;
    margin: 15px 0;
}
.home__text-active{
    font-weight: 700;
}
.home__button{
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
    text-decoration: none;
    color: #30353B;
    font-weight: 700;
    box-shadow: 0 8px 8px #00000033;
    border-radius: 6px;
}
.home__img{
    object-fit: cover;
    width: 48%;
    max-height: 90vh;
}
/*-----------------Servivcios-------------------*/
.services{
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*----------Titulos---------*/
.services__title, .proyects__title, .valoraciones__title,.email__title{
    font-size: 42px;
}
/*--------Textos----------*/
.services__text, .proyects__text, .valoraciones__text,.email__text{
    color: #30353B;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}
/*---------Cards-----------*/
.services-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
}
.proyects-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: #000;
    background: linear-gradient(180deg, #30353B 0%, #1A1B1F 100%);
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px #00000033;
}
.card__img{
    width: 93%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
.cards__info{
    text-align: left;
    width: 90%;
    margin: 0 auto;
}
.card__subtitle{
    color: #F4BD76;
    font-weight: 700;
    margin: 25px 0 12px 0;
    font-size: 18px;
    position: relative;
}
.card__title{
    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;
}

.card__text{
    color: #f7d9d990 ;
    margin-bottom: 16px;
}

.card__button{
    display: block;
    background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: #1A1B1F;
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}
.card__date{
    color: #F6CD8F;
    font-size: 18px;
    font-weight: bold;
}
/*------------Proyectos-------------*/
.proyects__container-img{
    width: 68%;
    height: 290px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
}

.proyects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.proyects__info-img{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 15px;
    color: #fff;
}

.proyects__info-title {
    font-size: 24px;
    margin-bottom: 4px;
}
/*---------------Valoraciones-----------*/
.valoraciones{
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valoraciones-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.valoraciones__card{
    width: 30%;
    height: 500px;
    background: linear-gradient(180deg, #30353B 0%, #1A1B1F 100%);
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}

.valoraciones__img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;
}

.valoraciones__copy{
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 90%;
    background: linear-gradient(180deg, #30353B 0%, #1A1B1F 100%);
    color: #fff;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 8px 8px #00000033;
    padding: 15px 8px;
    display: flex;
    align-items: center;
}

.valoraciones__copy--modifier{
    background: none;
    box-shadow: none;
}

.valoraciones__logo{
    font-size: 40px;
    margin-right: 15px;
}

.valoraciones__name{
    font-size: 24px;
    line-height: 28px;
}

.valoraciones__position{
    color: #ffffff80;
}

.valoraciones__info{
    padding: 40px 0;
    width: 90%;
    margin: 0 auto;
    color: #fff;
}

.google__logo{
    margin-bottom: 20px;
}

.valoraciones__history {
    font-size: 21px;
    font-weight: 300;
}
.logo__img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center top;
}
.valoraciones__info{
    width: 70%;
}
/*----------Email------------*/
.email__title{
    text-align: center;
    margin-bottom: 16px;
}
.email__text{
    text-align: center;
    margin-bottom: 32px;
}
.check{ 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;

}

.check__item{
    width: 30%;
    padding-right: 10px;
    display: flex;
    border-right: 2px solid #30353B;
}
.check__icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    border-radius: 50%;
    font-size: 40px;
}

.check__number{
    font-weight: 700;
}

.check__copy{
    font-weight: 300;
}
/*----------------NewsLetter------------*/
.newsletter{
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    height: auto;
    font-family: inherit;
    position: relative;
    border-radius: 6px;
}

.newsletter--modifier{
    margin: 0;
    width: 80%;
}

.newsletter__input{
    width: 100%;
    height: 100%;
    padding: 22px 10px;
    outline: none;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid #1A1B1F ;
}

.newsletter__submit{
    position: absolute;
    right: 8px;
    top: 10%;
    height: 80%;
    background: linear-gradient(180deg, #30353B 0%,  #1A1B1F 100%);
    color: #fff;
    padding: 0 15px;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
}
/*------------------Footer-----------------------*/
.footer{
    background: #fafafa;
}
.footer__container{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}
.title__footer{
    font-size: 24px;
    margin-bottom: 32px;
}
.download{
    width: 50%;
}
.download__app{
    display: flex;
}
.download__item{
    display: flex;
    padding: 18px 12px;
    border-radius: 6px;
    border: 1px solid #30353B;
    width: 42%;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 16px;
}
.download__logo{
    font-size: 40px;
    margin-right: 20px;
}
.download__title{
    font-size: 18px;
}
.footer__copy{
    width: 100%;
    color: #30353B;
    display: flex;
    flex-wrap: wrap;
}
.copyright{
    width: 100%;
}
.politica__privacidad{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
.politica__privacidad:hover{
    text-decoration: underline;
}
.politica__privacidad-margin{
    margin-right: 10px;
}

.get-email{
    width: 50%;
}
.socialmedia{
    margin-top: 24px;
    display: flex;
    color: #30353B;
}
.socialmedia__icon{
    font-size: 18px;
    margin-right: 16px;
    display: inline-block;
}
.socialmedia__legend{
    color: #30353B;
    margin-right: 16px;
}
.contact{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: #fff;
}
.item__contact{
    width: 25%;
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(180deg, #30353B 0%, #1A1B1F 100%);
}
.item__contact--gold{
    background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
    color: #1A1B1F;
}
.contact__icon{
    font-size: 14px;
    color: #F4BD76;
    line-height: 20px;
    margin-right: 4px;
}
.contact__icon--modifier{
    font-size: 14px;
    color: #1A1B1F;
    line-height: 20px;
    margin-right: 4px;
}
.contact__title{
    font-size: 16px;
    line-height: 20px;
}

/*Media Queerys*/

@media screen and (min-width:1200px) {
    .home__img{
        width: 600px;
        height: auto;
        position: absolute;
        left: 50%;
        animation-name: updown;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .home__title{
        font-size: 50px;
    }

    .home__text{
        font-size: 22px;
    }

    .home__button{
        padding: 15px 22px;
    }

    .container-cards{
        justify-content: space-evenly;
    }

    .services .card {
        width: 45%;
    }

    .proyects__container-img{
        width: 52%;
    }

    .card{
        width: 42%;
    }

    .valoraciones-container{
        justify-content: space-evenly;
    }

    .valoraciones__card{
        width: 45%;
    }

    .check__item{
        width: 45%;
        margin-bottom: 35px;
    }

    .newsletter{
        width: 80%;
    }

    .download{
        width: 100%;
    }

    .download__app{
        justify-content: space-between;
    }

    .download__item{
        width: 45%;
    }

    .get-email{
        width: 100%;
        margin-bottom: 40px;
    }

    .socialmedia__icon{
        font-size: 18px;
    }

    .socialmedia__legend{
        font-size: 18px;
    }
}

@media screen and (max-width:900px) {
    main .container,
    footer .container{
        padding: 60px 0;
    }

    .nav__container{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nav__header{
        height: auto;
    }

    .logo{
        padding: 15px 0;
        text-align: center;
    }

    .menu__list{
        padding-bottom: 10px;
        text-align: center;
    }

    .menu__link{
        padding: 7px 10px;
        }

    .home {
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: auto;
        padding: 30px ;
    }

    .home__content{
        width: 100%;
        text-align: center;
    }

    .home__img{
        width: 60%;
        margin-bottom: 20px;
    }

    .home__title{
        font-size: 35px;
    }

    .home__text{
       font-size: 35px;
    }

    .subtitle{
        font-size: 35px;
        text-align: center;
    }

    .services__text{
        font-size: 20px;
        text-align: center;
    }

    .services .card {
        width: 80%;
    }

    .proyects-cards{
        justify-content: space-evenly;
    }

    .card{
        margin-bottom: 40px;
        width: 65%;
    }

    .card__title{
        font-size: 35px;
    }

    .card__button{
        width: 100%;
    }

    .proyects__container-img {
        width: 65%;
        margin-bottom: 65px;
    }

    .proyects__info-text{
        display: none;
    }

    .valoraciones__card{
        width: 65%;
    }

    .valoraciones__name{
        font-size: 20px;
    }

    .email{
        width: 80%;
    }

    .item__contact {
        width: 100%;
        padding: 30px 0;
    }

}

@media screen and (max-width:500px){
    .home__img{
        width: 80%;
        margin-bottom: 15px;
    }

    .services .card {
        width: 95%;
    }
    .proyects__container-img{
        width: 95%;
    }

    .valoraciones__card{
        width: 95%;
    }

    .valoraciones__history{
        font-size: 20px;
    }

    .email{
        width: 90%;
    }

    .newsletter{
        width: 100%;
    }

    .newsletter--modifier{
        display: block;
    }

    .check__item{
        width: 100%;
        border: none;
        padding: none;
        justify-content: center;
    }

    .download__item{
        width: 49%;
    }

    .download__title{
        font-size: 16px;
    }

    .download__logo{
        font-size: 30px;
    }
}

@keyframes updown {
    0%{
        top: 180px;
    }
    50%{
        top: 220px;
    }
    100%{
        top: 180px;
    }
}